Flask
Flask-SQLAlchemy
Flask-CORS
python-dotenv
google-generativeai
pandas
scikit-learn
joblib
Flask-Login
Flask-Bcrypt
Flask-WTF
email_validator
Flask-Mail
langchain
langchain-community
langchain-google-genai
gunicorn
psycopg2-binary